<div class="container">
    {{#each results}}
    <div class="card" style="background-color: silver
    ">
        <ul>
            <li style="text-align: center;">
                <h4>
                    {{dataValues.Make}}
                    {{dataValues.Model}}
                </h4>
                <p>
                    Year:
                    {{dataValues.Year}}
                </p>
                <p>
                    Price to Rent Per Day:
                    ${{dataValues.Price}}
                </p>
                <p>
                    Email:
                    <a href="mailto: {{dataValues.Email}}">
                        {{dataValues.Email}}</a>

                </p>
            </li>

        </ul>

        {{/each}}
    </div>
</div>