<h1>
    YOOOOO
    <ul>
        {{#each results}}
        <li>
            <p>
                {{dataValues.Make}}
                {{dataValues.Model}}
                {{dataValues.Year}}
                {{dataValues.Price}}
                {{dataValues.Email}}
            </p>
        </li>
        {{/each}}
    </ul>
</h1>